<h1>Home#index</h1>
<p>Welcome!</p>
List of Question
<a href="/about/question " class="btn btn-warning btn-xs" > Add Questions  </a>

<a href="/questions/12" class="btn btn-success btn-xs"> View Answer </a>
